[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
escrow = "nj9z1iSrdSBhFt3jmxmgHzhBLVqE6b2bh7MwLjiDWuq"

[programs.devnet]
escrow = "nj9z1iSrdSBhFt3jmxmgHzhBLVqE6b2bh7MwLjiDWuq"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
